<div class="ui inverted vertical center aligned segment">
  <%= render partial: 'layouts/menu' %>
</div>
<div class="ui container">
  <div class="ui basic segment">
    <h2>District Resources</h2>
    <p>
      On this page you will find resources to help you implement the MA Safe Routes Survey in your school.
    </p>
    <p>
      If you need more assistance, please contact MassDOT’s Safe Routes to School program at 857-383-3809.</p>

    <h3>Paper Survey Forms</h3>

    <p>
      The paper survey forms include the same questions as are found in the online survey. The generic versions can be printed and distributed “as is.” The Customizable versions have a field where you can enter your school name, the due date for the survey,
      and the school-specific web address of the online survey (e.g., http://masaferoutessurvey.org/schools/1.) Customizing the paper survey forms requires the free Adobe Acrobat
      Reader (<a href='http://get.adobe.com/reader/'>download here.</a>)
    </p>

    <table class='ui table'>
      <thead>
        <tr>
          <td><strong>Language</strong></td>
          <td><strong>Generic</strong></td>
          <td><strong>Customizable</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>English</td>
          <td><a href='/docs/MySchoolCommuteSurvey_English_Generic.pdf'>Generic</a></td>
          <td><a href='/docs/MySchoolCommuteSurvey_English_Customizable.pdf'>Customizable</a></td>
        </tr>
        <tr>
          <td>Spanish</td>
          <td><a href='/docs/MAsaferoutessurvey_Spanish_Generic.pdf'>Generic</a></td>
          <td><a href='/docs/MAsaferoutessurvey_Spanish_Customizable.pdf'>Customizable</a></td>
        </tr>
        <tr>
          <td>Portuguese</td>
          <td><a href='/docs/MAsaferoutessurvey_Portuguese_Generic.pdf'>Generic</a></td>
          <td><a href='/docs/MAsaferoutessurvey_Portuguese_Customizable.pdf'>Customizable</a></td>
        </tr>
        <tr>
          <td>Chinese</td>
          <td><a href='/docs/MAsaferoutessurvey_Chinese_Generic.pdf'>Generic</a></td>
          <td><a href='/docs/MAsaferoutessurvey_Chinese_Customizable.pdf'>Customizable</a></td>
        </tr>
        <tr>
          <td>Vietnamese</td>
          <td><a href='/docs/MAsaferoutessurvey_Vietnamese_Generic.pdf'>Generic</a></td>
          <td><a href='/docs/MAsaferoutessurvey_Vietnamese_Customizable.pdf'>Customizable</a></td>
        </tr>
        <tr>
          <td>Haitian Creole</td>
          <td><a href='/docs/MAsaferoutessurvey_Haitian Creole_Generic.pdf'>Generic</a></td>
          <td><a href='/docs/MAsaferoutessurvey_Haitian Creole_Customizable.pdf'>Customizable</a></td>
        </tr>
        <tr>
          <td>Khmer</td>
          <td><a href='/docs/MAsaferoutessurvey_Khmer_Generic.pdf'>Generic</a></td>
          <td><a href='/docs/MAsaferoutessurvey_Khmer_Customizable.pdf'>Customizable</a></td>
        </tr>
        <tr>
          <td>French</td>
          <td><a href='/docs/MAsaferoutessurvey_French_Generic.pdf'>Generic</a></td>
          <td><a href='/docs/MAsaferoutessurvey_French_Customizable.pdf'>Customizable</a></td>
        </tr>
        <tr>
          <td>Arabic</td>
          <td><a href='/docs/MAsaferoutessurvey_Arabic_Generic.pdf'>Generic</a></td>
          <td><a href='/docs/MAsaferoutessurvey_Arabic_Customizable.pdf'>Customizable</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
