<%= render partial: 'layouts/jumbo', locals: { districts: @districts } %>
<div class="ui vertical stripe segment welcome-index">
  <div class="ui middle aligned stackable container">
    <div class="ui row">

      <div class="main-column">
        <h3 class="ui header"><%= _("More information about the survey...") %></h3>
        <p>
          <%= _("The Massachusetts Safe Routes to School (SRTS) program partners with schools throughout the Commonwealth  to help reduce traffic congestion and air pollution near schools while increasing the health, safety, and physical activity of students. Evaluating trends in how students and families travel to and from school is a key component to building a successful Safe Routes to School program.  Parent responses to this survey provide valuable information and help determine how we can improve the environment around the school, target investments, track progress toward goals and ultimately develop local programs that benefit students, parents and our communities.") %>
        </p>
      </div>

      <div class="sub-column">
        <%= image_tag('westminster-walkto.jpg') %>
      </div>

    </div>
  </div>
</div>
