<%= render_ember_app :surveymap do |head, body| %>
  <% head.append do %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  <% end %>
  <div class="ui inverted vertical center aligned segment">
    <%= render partial: 'layouts/menu' %>
  </div>
<% end %>