<div class="ui inverted vertical center aligned segment">
  <%= render partial: 'layouts/menu' %>
</div>

<div class="ui container">
  <div class="ui basic segment">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
    <div id="root"><div id="map-container"></div></div>
    <%= javascript_include_tag "react_modules/intersectingstreets.min.js" %>
  </div>
</div>