body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.leaflet-container {
    height: 400px;
    width: 100%;
}

.map-container {
  width: 100%;
}

.ui.top.attached.label.child-survey__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ui.equal.width.padded.grid.attached.segment.segment__wrapper,
.ui.child-survey__wrapper,
.ui.attached.segment.segment__wrapper {
  margin-bottom: 2rem!important;
}

.child-survey {
  margin-bottom: 1rem;
}

.ui.button.center {
  margin: 0 auto;
}