<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="ui segment">
      <h2 class="ui header">
        <div class="content">
          Thank you for your input!
        </div>
      </h2>
      <%= link_to 'Go Back', '/' %>
    </div>
  </div>
</div>