/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Fakt";
  src: font-url('FaktPro-Normal.ttf');
}

@font-face {
  font-family: "Fakt";
  src: font-url('FaktPro-NormalItalic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FaktLight";
  src: font-url('FaktPro-Blond.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "FaktLight";
  src: font-url('FaktPro-BlondItalic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Fakt";
  src: font-url('FaktPro-Medium.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Fakt";
  src: font-url('FaktPro-MediumItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FaktSlab";
  src: font-url('FaktSlabPro-Light.ttf');
}


$font-family: 'Fakt';
@import "semantic-ui/elements/icon";

.hidden.menu {
  display: none;
}

.masthead.segment {
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 0.2em;
  margin-bottom: .5em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.inverted.segment {
  background: #3399CC;
}

.ui.vertical.stripe {
  padding: 1em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

#map {
  width: 100%;
  height: 500px;
  z-index:0;
}

.leaflet-container {
    height: 400px;
    width: 100%;
}

.map-container {
  width: 100%;
}



@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

body {
  background: #FFFFFF;
}

.ui {
  &.row, .row {
    display: flex;

    > .main-column { flex: 1 0 65%; } 
    > .sub-column  { flex: 1 0 35%; } 
  }
}
