// Place all the styles related to the SurveyResponses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.survey_responses.thankyou {
  .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
}

.button {
  padding-top: 1em;
}

.survey-id-selection {
  margin-bottom: 2rem;
}

.ui.top.attached.label.child-survey__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ui.equal.width.padded.grid.attached.segment.segment__wrapper,
.ui.child-survey__wrapper,
.ui.attached.segment.segment__wrapper {
  margin-bottom: 2rem!important;
}

.child-survey {
  margin-bottom: 1rem;
}

.submit {
  &__results-text {
    margin: 1rem auto;
    text-align: center;
  }
}
