.welcome-index {
  .row {
    padding: 40px 0; 

    .main-column { padding-right: 30px; }
  }

  h3.header {
    margin-bottom: 35px; 
  }

  .sub-column {
    img {
      max-width: 100%;
      max-height: 100%;
    } 
  }
}
