<div class="ui basic segment">
  {{intersecting-streets firstStreets=model.firstStreets.rows secondStreets=model.secondStreets.rows firstSelection=firstSelection secondSelection=secondSelection}}

  {{outlet}}
</div>
