<div class="ui vertical footer segment">
  <div class="ui container">
    <div class="ui medium images">
      <img src="/assets/images/massdot-logo.png" />
      <img src="/assets/images/saferoutes-logo.png" />
      <img src="/assets/images/mapc-logo.png" />
    </div>
  </div>
  <div class="ui secondary menu">
    <div class="right menu">
      <% if current_user.nil? %>
        <%= link_to 'Administrator Sign In', new_user_session_path, class: 'item' %>
      <% end %>
    </div>
  </div>
</div>