<div class="ui vertical segment container footer-layout">
  <div class="footer-content">

    <div class="state-images">
      <a href="http://www.massdot.state.ma.us/">
        <%= image_tag('massdot-logo.png') %>
      </a>
      <a href="http://www.massdot.state.ma.us/saferoutestoschool/Home.aspx">
        <%= image_tag('saferoutes-logo.jpg') %>
      </a>
      <a href="https://www.mapc.org">
        <%= image_tag('mapc-logo.png') %>
      </a>
    </div>

    <div class="login-wrapper">
      <% if current_user.nil? %>
        <%= link_to 'Administrator Sign In', new_user_session_path, class: 'item' %>
      <% end %>
    </div>

  </div>
</div>
