<div class="ui vertical footer segment">
  <div class="ui container">
    <div class="ui medium images">
      <%= image_tag('massdot-logo.png') %>
      <%= image_tag('saferoutes-logo.jpg') %>
      <%= image_tag('mapc-logo.png') %>
    </div>
  </div>
  <div class="ui secondary menu">
    <div class="right menu">
      <% if current_user.nil? %>
        <%= link_to 'Administrator Sign In', new_user_session_path, class: 'item' %>
      <% end %>
    </div>
  </div>
</div>
