<div class="ui inverted vertical center aligned segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <%= link_to 'Home', '/', class: 'active item' %>
      <!-- <a class="active item">Home</a> -->
      <a class="item">Accounts</a>
      <a class="item">District Resources</a>
      <a class="item">Districts</a>
      <a class="item">Schools</a>
    </div>
  </div>
</div>


